#section1 h1{
    color:rgb(20, 238, 31);
}

#section1 h2{
    color: rgb(31, 194, 31);
}

#section2 h1{
    color:green;
}

#section2 h2{
    color: rgb(13, 173, 13);
} 


p{ 
    color:blueviolet;
    background-color:azure;
}

div h3:first-child{
    color:red;
}

h3:nth-child(2){
    color:brown;
}

p::first-letter{
    color:red;
    font-size:20px;
}

p:selection{
    background-color:yellow;
}